<div class="call-to-action">
  <h1>Contattami</h1>

  <div class="grid">
    <div class="grid-item call-to-action__button">
      <a class="u-email" href="mailto:{{ site.email }}"><i class="fas fa-envelope fa-fw"></i> Scrivimi</a>
    </div>
    <div class="grid-item call-to-action__button">
      <a href="tel:{{ site.phone }}"><i class="fas fa-phone fa-flip-horizontal fa-fw"></i> Chiamami</a>
    </div>
    <div class="grid-item call-to-action__button">
      <a href="{{ site.minima.social_links.whatsapp }}"><i class="fab fa-whatsapp fa-fw"></i> WhatsApp</a>
    </div>
  </div>
</div>
