.site-nav {
  // border-top: 1px solid rgba(white, .2);
  border-radius: 0;
  font-size: 24px;
  width: 100%;
  height: 54px;
  padding: 0;
  background: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  a.page-link,
  a.page-link:visited {
    color: white;
  }

  input ~ .trigger {
    height: 54px;
    text-align: center;
    line-height: 54px;
    background-color: $green;
    display: block;
    padding: 0 24px;
    transition: opacity 200ms ease-in-out;
  }
}

.site-header {
  background: $green;
  padding-bottom: 16px;

  .wrapper {
    display: flex;
    max-width: calc(800px - (30px * 2));
    margin: auto;
  }

  .logo-wrapper img {
    max-height: 200px;
    text-align: right;
    padding-top: 6px;
  }

  .title-wrapper {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
  }

  h1.site-title {
    font-size: 3rem;
    line-height: 1;
    margin-top: 75px;

    a {
      text-decoration: none;
      color: white;
    }
  }

  h2.site-subtitle {
    color: white;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1;
    margin: .5rem 0;
    font-weight: 300;
  }

  .contacts {
    color: white;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      margin-right: 12px;
    }
  }
}

@media (min-width: 720px) and (max-width: 889px) {
  .site-nav {
    font-size: 18px;
  }
}

@media (min-width: 600px) and (max-width: 719px) {
  .site-nav {
    font-size: 14px;
  }
}

@media (max-width: 599px) {
  .site-header {
    padding-bottom: 24px;
  }

  .site-header h1.site-title {
    font-size: 32px;
    margin-top: 56px;

    small {
      font-size: 22px;
    }
  }

  .site-header .contacts {
    p {
      padding-top: 8px;
      line-height: 24px;
    }
  }

  .site-nav {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
  }

  .site-nav input {
    & ~ .trigger {
      opacity: 0;
      height: 0;
      overflow: hidden;
      // transition: all 150ms ease-in-out;
    }

    &:checked ~ .trigger {
      opacity: 1;
      position: fixed;
      height: 100vh;
      width: 100vw;
      top: 0;
      right: 0;
      z-index: 1;
      padding: 80px 0 0 0;
      overflow-y: scroll;
      text-align: center;
    }

    &:checked ~ label[for="nav-trigger"] {
      position: fixed;
      z-index: 2;
      right: 15px;

      #menu-icon {
        background: transparent;
      }

      #menu-icon:before {
        top: 0;
        transform: rotate(-45deg);
      }

      #menu-icon:after {
        bottom: 0;
        transform: rotate(45deg);
      }
    }
  } 

  .site-nav label[for="nav-trigger"] {
    padding-top: 12px;

    #menu-icon,
    #menu-icon:before,
    #menu-icon:after {
        background: white;
        height: 4px;
        transition: all 200ms ease-in-out;
        width: 100%;
    }

    #menu-icon {
        display: inline-block;
        margin: 10px 0;
        max-width: 25px;
        position: relative;
    }

    #menu-icon:before,
    #menu-icon:after {
        content: '';
        left: 0;
        position: absolute;
    }

    #menu-icon:before {
        top: -10px;
    }

    #menu-icon:after {
        bottom: -10px;
    }
  }
}

@media (max-width: 419px) {
  .site-header .logo-wrapper {
    display: none;
  }

  .site-header h1.site-title {
    font-size: 28px;
  }

  .site-header h2.site-subtitle {
    font-size: 16px;
  }
}
