.site-nav {
  // border-top: 1px solid rgba(white, .2);
  border-radius: 0;
  font-size: 24px;
  width: 100%;
  height: 54px;
  padding: 0;
  background: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  a.page-link,
  a.page-link:visited {
    color: white;
  }

  input ~ .trigger {
    height: 54px;
    line-height: 54px;
    background-color: $green;
    display: block;
    padding: 0 24px;
    transition: all 100ms ease-in-out;
  }
}

.site-header {
  background: $green;

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  h1.site-title {
    font-size: 3rem;
    line-height: 1;
    margin-top: 75px;

    a {
      text-decoration: none;
      color: white;
    }

    small {
      font-size: 1.5rem;
      font-style: italic;
      line-height: 1;
    }
  }

  .contacts {
    color: white;

    a {
      color: white;
      text-decoration: none;
      display: inline-block;
      margin-right: 12px;
    }
  }
}

@media screen and (max-width: 599px) {
  .site-header {
    padding-bottom: 24px;
  }

  .site-header h1.site-title {
    font-size: 32px;
    margin-top: 56px;

    small {
      font-size: 22px;
    }
  }

  .site-header .contacts {
    margin-top: 20px;

    p {
      line-height: 24px;
    }

    a {
      display: block;
      width: 100%;
    }
  }

  .site-nav {
    position: absolute;
    border: none;
    margin: 0;
    padding: 0;
  }

  .site-nav input ~ .trigger {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 150ms ease-in-out;
  }

  .site-nav input:checked ~ .trigger {
    opacity: 1;
    height: 160px;
  }
}
