.page-content {
  background: lighten($green, 60%);

  .wrapper {
    background: white;
    border: 1px solid lighten($green, 50%);
    padding: 24px 48px;
  }
}

@media (max-width: 799px) {
  .page-content {
    padding: 0;

    .wrapper {
      border: none;
    }
  }
}

@media (max-width: 419px) {
  .page-content .wrapper {
    padding: 24px;
  }
}
