<h1 class="text-center">Fisioterapista sportivo a Rovereto</h1>

<div class="grid icons-summary">
  <div class="grid-item icon-wrapper">
    <img src="{{ "assets/images/icons/in-studio.png" | relative_url }}" />
    <h5 class="icon-header">In Studio</h5>
  </div>
  <div class="grid-item icon-wrapper">
    <img src="{{ "assets/images/icons/a-domicilio.png" | relative_url }}" />
    <h5 class="icon-header">A Domicilio</h5>
  </div>
  <div class="grid-item icon-wrapper">
    <img src="{{ "assets/images/icons/sport.png" | relative_url }}" />
    <h5 class="icon-header">Società Sportive</h5>
  </div>
</div>
