<h1 class="text-center">Testimonial</h1>

<div class="grid">
  <div class="grid-item testimonial">
    <img src="{{ "assets/images/testimonials/testimonial1.png" | relative_url }}" />
    <p class="testimonial__text">
      Professionale, formato e sempre disponibile. Il migliore che abbia mai provato, ve lo consiglio caldamente<br>
      <span class="testimonial__name">— Mattia Detone, American Football Player Thunders Trento</span>
    </p>
  </div>
  <div class="grid-item testimonial">
    <img src="{{ "assets/images/testimonials/testimonial2.png" | relative_url }}" />
    <p class="testimonial__text">
      Incredibile competenza, professionalità e disponibilità... un'eccellenza!<br>
      <span class="testimonial__name">— Giulia Marsilli, Climber di BLOCK AL CUBO</span>
    </p>
  </div>
  <!-- <div class="grid-item">
    <img src="{{ "assets/images/thunders3.jpg" | relative_url }}" />
  </div> -->
</div>
